@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.sidebarOpened {
  left: 0;
  bottom : 0
}
.sidebarClosed {
  left: -350px;
  bottom : 0
}
